.home {
  width: 75%;
  height: 100%;
  display: grid;
  grid-auto-rows: 6% 60% 24%;
  height: 100vh;
  transition: 1s;
  nav button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
  }
}

.homeFullWidth {
  width: 100%;
  display: grid;
  grid-auto-rows: 6% 60% 24%;
  height: 100vh;
}
@media (max-width: $min-screen) {
  .home {
    width: 100%;
  }
  nav button {
    z-index: 3;
  }
}

@import "./song";
@import "./player";
