.playlist {

  overflow: hidden;
  height: 100vh;
//  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
  background: white;
  width: 25%;
  transform: translateX(0%);
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 1;
  h1 {
    margin: 25px;

  }
  .active{
    opacity: 100% !important;
    //    background: #f7e3c8;
  }

  .active::after {
    right: 0%;
  }
   .active::before {
    content: "";
    z-index: -1;
    transform: translateZ(20);
    position: absolute;
    left: 0%;
    bottom: 20%;
    right: 98%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color:orange;
    top: 20%;
  }

  .songList {
    height: 100vh;
    overflow-y: scroll;
  }
  .songItem {
    opacity: 60%;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 10px;
    padding-left:20px;
    transition:all 1s ease-in;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
    &:hover{

      opacity: 100%;

    }
    &::after {
      content: "";
      z-index: -1;
      transform: translateZ(20);
      position: absolute;
      left: 0;
      bottom: 0;
      right: 100%;
      top: 0;
      transition: 0.5s ease-in-out;
    }

    &:hover::after {
      right: 0%;
    }
    &:hover::before {
      color: white;
    }
    .img-cont{
      display: flex;
      align-items: center;
      justify-content: center;
      .back{
        font-family: 'Omar';
        font-size: 15px;
      }
      width: 70px;
      padding:10px;
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(255, 107, 0, 0.25), 0 4px 4px rgba(255, 107, 0, 0.2), 0 8px 8px rgba(255, 107, 0, 0.15), 0 16px 16px rgba(255, 107, 0, 0.1), 0 24px 24px rgba(255, 107, 0, 0.05);
    }

    .text {
      display: flex;
      flex-direction: column;
      align-self: start;
      justify-content: center;
      align-self: center;
      padding-left: 10%;
      h3{
        margin: 0 ;
        font-size: 18px;
        color: black;
      }
      p{
      margin: 0 ;
      font-size: 14px;
      }
    }
    .silde {
      content: "";
      background-color: #f7eee1;
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 100%;
      top: 0;
      transition: 0.5s ease-in-out;
    }
  }
}
// @keyframes hide {
//   0% {
//     transform: translateX(0);
//   }
//   50% {
//     transform: translateX(-50%);
//   }
//   100% {
//     transform: translateX(-100%);
//     width: 100%;
//   }
// }
.toggle-out {
  transform: translateX(-100%);
  width: 0;
}

@media (max-width: $min-screen) {
  .playlist {
    width: 100%;
    position: fixed;
  }
}
