@font-face {
  font-family: 'Omar';
  src: url("../fonts/Omar-Bold-1.ttf") format('truetype');
}

.song {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .text{
    margin-top:20px;
  }

  // background-color: lightblue;
  .image {
    min-height: 300px;
    min-width: 300px;
    width: 40VH;
    height: 40VH;
    background: #fffaee;
    border: 1px solid #fff3eb;
    color: #565656;
    position:relative;
    border-radius: 100%;
    z-index: -1;
    .back{
      font-family: 'Omar';
      font-size: 70px;
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
 .image:after{
    border-radius: 100%;
    box-shadow: 0 15px 30px rgba(255, 107, 0, 0.25), 0 4px 4px rgba(255, 107, 0, 0.2), 0 8px 8px rgba(255, 107, 0, 0.15), 0 16px 16px rgba(255, 107, 0, 0.1), 0 24px 24px rgba(255, 107, 0, 0.05);
    content: '';
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
@media (max-width: $min-screen) {
}
